Q1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
    Scrape the job-title, job-location, company_name, experience_required of the first 10 jobs data.

In [1]:
#!pip3 install selenium

In [42]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time

In [16]:
url='https://www.naukri.com/'

In [17]:
#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')

In [18]:
driver.get(url)

In [20]:
skill = driver.find_element_by_id("qsb-keyword-sugg")

In [21]:
skill.send_keys("Data Analyst")

In [22]:
location = driver.find_element_by_id("qsb-location-sugg")

In [23]:
location.send_keys("Bangalore")

In [24]:
find=(driver.find_element_by_class_name("btn")).click()

In [25]:
job_profiles = []
companies = []
experiences = []
salaries = []
locations = []

job_profile=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")[0:10]

company=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]")[0:10]

experience=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[1]")[0:10]

salary = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")[0:10]

location = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span")[0:10]

for job in job_profile:
    job_profiles.append(job.text)
for comp in company:
    companies.append(comp.text)

for exp in experience:
    experiences.append(exp.text)
    
for sal in salary:
    salaries.append(sal.text)
    
for loc in location:
    locations.append(loc.text)
    

job_df=pd.DataFrame({'Job_Profile':job_profiles,
                         'Company':companies,
                         'Experience':experiences,
                         'Salary':salaries,
                         'Location':locations})

In [26]:
job_df

,Job_Profile,Company,Experience,Salary,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"3,50,000 - 8,50,000 PA.","Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Chennai, Pune, Bengaluru, Hyderabad"
2,Business Data Analyst,NetApp,2-3 Yrs,Not disclosed,Bengaluru
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,"50,000 - 2,00,000 PA.",Bengaluru(Whitefield)
4,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,"3,00,000 - 6,00,000 PA.",Bengaluru
5,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,"2,50,000 - 5,50,000 PA.",Bengaluru
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,Not disclosed,"Bengaluru, India"
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Not disclosed,Bengaluru
8,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Not disclosed,Bengaluru
9,Business Data Analyst | Reinsurance Domain,Mphasis Limited,10-15 Yrs,Not disclosed,Bengaluru

In [27]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
    You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [28]:
url='https://www.naukri.com/'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)


skill = driver.find_element_by_id("qsb-keyword-sugg")
skill.send_keys("Data Scientist")


location = driver.find_element_by_id("qsb-location-sugg")
location.send_keys("Bangalore")
find=(driver.find_element_by_class_name("btn")).click()

In [29]:
job_profiles = []
companies = []
experiences = []
salaries = []
locations = []

job_profile=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")[0:10]

company=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]")[0:10]

experience=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[1]")[0:10]

salary = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")[0:10]

location = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span")[0:10]

for job in job_profile:
    job_profiles.append(job.text)
    
for comp in company:
    companies.append(comp.text)

for exp in experience:
    experiences.append(exp.text)
    
for sal in salary:
    salaries.append(sal.text)
    
for loc in location:
    locations.append(loc.text)

job_df=pd.DataFrame({'Job_Profile':job_profiles,
                         'Company':companies,
                         'Experience':experiences,
                         'Salary':salaries,
                         'Location':locations})

In [30]:
job_df

,Job_Profile,Company,Experience,Salary,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"3,50,000 - 8,50,000 PA.","Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Chennai, Pune, Bengaluru, Hyderabad"
2,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Not disclosed,Bengaluru
3,Lead Data Scientist - Machine Learning/Data Mi...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Not disclosed,Bengaluru
4,Data Scientist - Machine Learning/Data Mining,Minions Ventures,6-8 Yrs,Not disclosed,Bengaluru
5,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,4-9 Yrs,Not disclosed,"Bengaluru, Hyderabad"
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,2-7 Yrs,"7,00,000 - 15,00,000 PA.","Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,2-7 Yrs,"7,00,000 - 15,00,000 PA.","Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
8,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,2-7 Yrs,Not disclosed,Bengaluru
9,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,1-5 Yrs,Not disclosed,"Mumbai, Bengaluru"

In [31]:
driver.close()

In [32]:
url='https://www.naukri.com/job-listings-fresher-data-engineer-data-scientist-data-analyst-requirements-achyutas-soft-private-limited-delhi-ncr-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-061220001192?src=jobsearchDesk&sid=16081846081768416&xp=1&px=1'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

job_descriptions = []
job_description = driver.find_elements_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[2]/div[1]/p")
for desc in job_description:
    job_descriptions.append(desc.text)
print(job_descriptions)

['Roles and Responsibilities', 'Analytical Skills:To work with large amounts of data: facts, figures, and number crunching.', 'This is your opportunity to join the disruptive startup for an exciting journey in Digital analytics and optimization services!', 'Develop database design, assessment and modelling to identify best approach for accessing various data sources for use in the overall reporting solution in a manner that is efficient and that supports the Banks Business agenda.', 'Must have strong work excel experience in V-Look up and all basic concepts in MS-Excel for data analysis 1.', 'Ability to search for the required data and all that is related to it.', 'Building and iterating reports (with eventual design collaboration) based around a large volume of data, from multiple teams - providing data results communicated in required formats and around production data to determine QA of data collected and completeness of data - supporting the data integrity and continued maintenance of data.', 'In this role, you will have an opportunity to work with vast amounts of meaningful data, made accessible through best-in-class analytical and Business Intelligence tools.', 'Desired Candidate Profile', 'Building medium to complex periodic reports and analytical dashboards using advanced excel skills.', 'Ability to work collaboratively with others but also autonomously as needed.', 'Be able to work under tight deadlines without compromising on quality.', '-Develop and implement databases, data collection systems, data analytics and other strategies that optimize statistical efficiency and quality.', 'Collate multiple data points and build up analysis to derive relevant market insights.', 'Good oral and written communication skills.', 'Strong interpersonal skills with the ability to work with a variety of individuals, both internal and external at a variety of. levels in the organization.', 'Job Benefits & Perks\n2 Laks to 4 laks']

.

In [33]:
driver.close()

Q3:In this question you have to scrape data using the filters available on the webpage 'naukri.com'

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [79]:
url='https://www.naukri.com/'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)


skill = driver.find_element_by_id("qsb-keyword-sugg")
skill.send_keys("Data Scientist")

find=(driver.find_element_by_class_name("btn")).click()
time.sleep(5)

In [80]:
loc_check_box = driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i").click()
time.sleep(5)
sal_check_box = driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i").click()

In [81]:
job_profiles = []
companies = []
experiences = []
salaries = []
locations = []

job_profile=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")[0:10]

company=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]")[0:10]

experience=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[1]")[0:10]

salary = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")[0:10]

location = driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span")[0:10]

for job in job_profile:
    job_profiles.append(job.text)
    
for comp in company:
    companies.append(comp.text)

for exp in experience:
    experiences.append(exp.text)
    
for sal in salary:
    salaries.append(sal.text)
    
for loc in location:
    locations.append(loc.text)

job_df=pd.DataFrame({'Job_Profile':job_profiles,
                         'Company':companies,
                         'Experience':experiences,
                         'Salary':salaries,
                         'Location':locations})

In [82]:
job_df

,Job_Profile,Company,Experience,Salary,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"3,50,000 - 8,50,000 PA.","Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist - Python/Machine Learning,Jubna,5-8 Yrs,Not disclosed,Noida
2,Data Scientist,PureSoftware Pvt Ltd.,5-9 Yrs,Not disclosed,Gurgaon
3,Data Scientist,World Wide Technology,3-8 Yrs,Not disclosed,Gurgaon
4,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,Not disclosed,"Delhi NCR, Noida(Sector-142 Noida)"
5,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,Not disclosed,"Delhi NCR(Sector-142 Noida), Noida"
6,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,Not disclosed,"Delhi NCR, Noida(Sector-142 Noida)"
7,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,Not disclosed,"Delhi NCR(Sector-142 Noida), Noida"
8,Data Scientist,Stark Industries,3-5 Yrs,Not disclosed,Delhi
9,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,14-17 Yrs,Not disclosed,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon"

In [83]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [93]:
url='https://www.glassdoor.co.in/index.htm'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [102]:
skill = driver.find_element_by_xpath("//*[@id='sc.keyword']")
skill.send_keys("Data Scientist")

location = driver.find_element_by_xpath("//*[@id='sc.location']")
location.send_keys("Noida")

find=(driver.find_element_by_xpath("//*[@id='scBar']/div/button/span")).click()
time.sleep(5)

In [107]:
companies = []
ratings = []
posted_time = []
locations = []

company=driver.find_elements_by_xpath("//*[@id='MainCol']/div[1]/ul/li/div[2]/div[1]/a/span")[0:10]

rating=driver.find_elements_by_xpath("//*[@id='MainCol']/div[1]/ul/li/div[1]/span")[0:10]

posted = driver.find_elements_by_xpath("//*[@id='MainCol']/div[1]/ul/li/div[2]/div[3]/div[2]/div[2]")[0:10]
    
for comp in company:
    companies.append(comp.text)

for rate in rating:
    ratings.append(rate.text)
    
for post in posted:
    posted_time.append(post.text)

job_df=pd.DataFrame({'Company':companies,
                     'Ratings':ratings,
                     'Posted On':posted_time})

In [108]:
job_df

                Company Ratings Posted On
0               Genpact     3.8       24h
1            IHS Markit     4.1        8d
2           GroundTruth     3.3       21d
3  MARKTECH CONSULTANCY       5        5d
4              Techlive     3.1        6d
5  Gauge Data Solutions     3.7       27d
6             Algoscale     3.7       27d
7       SearchUrCollege       4       27d
8        Biz2Credit Inc     4.1        8d
9       Priority Vendor     3.7       27d

In [109]:
driver.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the page.
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6. Store the data in a dataframe.

In [124]:
url='https://www.glassdoor.co.in/Salaries/index.htm'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [125]:
skill = driver.find_element_by_name("sc.keyword")
skill.send_keys("Data Scientist")

location = driver.find_element_by_xpath('//*[@id="LocationSearch"]')
location.clear()
location.send_keys("Noida")

find=(driver.find_element_by_class_name("gd-btn-mkt")).click()
time.sleep(5)

In [130]:
companies = []
min_sal = []
max_sal = []
avg_sal = []

company=driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div/div/div[1]/div/div[2]/p[2]")[0:10]

minimum = driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div/div/div[3]/div/div[2]/span[1]")[0:10]

maximum = driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div/div/div[3]/div/div[2]/span[2]")[0:10]

average = driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div/div/div[2]/strong")[0:10]
    
for comp in company:
    companies.append(comp.text)

for sal in minimum:
    min_sal.append(sal.text)
    
for sal in maximum:
    max_sal.append(sal.text)
    
for sal in average:
    avg_sal.append(sal.text)

job_df=pd.DataFrame({'Company':companies,
                     'min_sal':min_sal,
                     'max_sal':max_sal,
                     'avg_sal' :avg_sal})

In [131]:
job_df

                          Company min_sal   max_sal      avg_sal
0                       Delhivery   ₹705K  ₹11,495K  ₹ 12,83,026
1                       Accenture   ₹571K   ₹2,200K  ₹ 11,19,272
2                             IBM   ₹580K   ₹2,700K   ₹ 7,52,445
3              Ericsson-Worldwide   ₹468K   ₹1,595K   ₹ 8,28,000
4              UnitedHealth Group   ₹708K   ₹1,557K  ₹ 13,21,601
5                Analytics Vidhya    ₹14K      ₹22K     ₹ 20,889
6       Tata Consultancy Services   ₹488K   ₹1,000K   ₹ 6,33,432
7  Cognizant Technology Solutions   ₹784K   ₹1,250K   ₹ 9,96,446
8              Valiance Solutions   ₹496K   ₹1,138K   ₹ 7,71,320
9              Vidooly Media Tech     ₹8K      ₹20K     ₹ 12,669

In [132]:
driver.close()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [216]:
url='https://www.flipkart.com/'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [217]:
product = driver.find_element_by_xpath("//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("sunglasses")
product.send_keys(Keys.RETURN)
time.sleep(5)

In [234]:
Brands = []
Product_Descriptions = []
Prices = []
Discounts = []
start_page = 1
end_page = 5

for page in range(start_page,end_page):

    Brand = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/div[1]")

    Product_Description = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[1]")[2:]

    Price = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[1]")

    Discount = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[3]/span")

    for i in Brand:
        Brands.append(i.text)

    for i in Product_Description:
        Product_Descriptions.append(i.text)

    for i in Price:
        Prices.append(i.text)

    for i in Discount:
        Discounts.append(i.text)
        
    next_btn = driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div[12]/div/div/nav/a/span")
    if next_btn.text=='Next':
            next_btn.click()
            time.sleep(5)

    product_details=pd.DataFrame({'Brands':Brands,
                         'Product Descriptions':Product_Descriptions,
                         'Prices':Prices,
                         'Discounts' :Discounts})

In [235]:
product_details

,Brands,Product Descriptions,Prices,Discounts
0,JUST STYLE,UV Protection Round Sunglasses (48),₹125,58% off
1,Aislin,"UV Protection, Gradient Butterfly, Retro Squar...",₹500,67% off
2,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,116",14% off
3,Specsmakers,Polarized Aviator Sunglasses (54),₹696,65% off
4,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹269,82% off
...,...,...,...,...
155,INSH,"UV Protection, Night Vision, Riding Glasses Re...",₹345,86% off
156,HAMIW COLLECTION,"UV Protection Round, Oval, Spectacle , Clubmas...",₹164,83% off
157,Billion,Riding Glasses Spectacle Sunglasses (Free Size),₹287,88% off
158,Phenomenal,"Polarized, UV Protection Retro Square Sunglass...",₹269,73% off
159,Aislin,"UV Protection Wrap-around, Rectangular Sunglas...","₹1,367",67% off

In [236]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach scrape:
1. Rating
2. Review_summary
3. Full review
Scrape this data for first 100 reviews.

In [287]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [288]:
all_revies = driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[1]/div[2]/div[10]/div/div/div[5]/div/a/div/span").click()

In [306]:
Ratings = []
Review_summaries = []
Full_Reviews = []
start = 1
end = 12

for page in range(start,end+1):

    Rating = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[1]/div")[2:]

    Review_summary = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[1]/p")

    Full_Review = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/div")

    for i in Rating:
        Ratings.append(i.text)

    for i in Review_summary:
        Review_summaries.append(i.text)

    for i in Full_Review:
        Full_Reviews.append(i.text)
        
    next_btn = driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")

    if next_btn.text =='Next':
        next_btn.click()
        time.sleep(5)

    product_reviews=pd.DataFrame({'Ratings':Ratings,
                         'Review Summary':Review_summaries,
                         'Full Reviews':Full_Reviews})

In [307]:
product_reviews

,Ratings,Review Summary,Full Reviews
0,5,Mind-blowing purchase,Upgraded from iPhone SE. The device is bulky. ...
1,5,Fabulous!,Great phone with great performance and no heat...
2,5,Fabulous!,I Phone 11 is an amazing phone in a great pric...
3,5,Fabulous!,Best phone in this price segment people say th...
4,5,Worth every penny,"I have been using Iphone 11 for a week, the ba..."
...,...,...,...
115,3,Just okay,iPhone 11 is not better than Samsung s20 at th...
116,5,Awesome,The best phone ever iphones no one can match a...
117,5,Mind-blowing purchase,Switched from iPhone X to iPhone 11 128 GB Ver...
118,5,Simply awesome,Feels great to get back to iPhones after a gap...
119,4,Delightful,Everything is good in this phone. Not good for...

In [308]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [309]:
url='https://www.flipkart.com/'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [310]:
product = driver.find_element_by_xpath("//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("sneakers")
product.send_keys(Keys.RETURN)
time.sleep(5)

In [327]:
Brands = []
Product_Descriptions = []
Prices = []
Discounts = []
start_page = 1
end_page = 5

for page in range(start_page,end_page):

    Brand = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/div[1]")

    Product_Description = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[1]")[4:]

    Price = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[1]")

    Discount = driver.find_elements_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[3]/span")

    for i in Brand:
        Brands.append(i.text)
        #print(Brands)

    for i in Product_Description:
        Product_Descriptions.append(i.text)
        #print(Product_Descriptions)

    for i in Price:
        Prices.append(i.text)
        #print(Prices)

    for i in Discount:
        Discounts.append(i.text)
        #print(Discounts)
        
    next_btn = driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div[12]/div/div/nav/a/span")
    if next_btn.text=='Next':
            next_btn.click()
            time.sleep(5)

    product_details=pd.DataFrame({'Brands':Brands,
                         'Product Descriptions':Product_Descriptions,
                         'Prices':Prices,
                         'Discounts' :Discounts})

In [328]:
product_details

,Brands,Product Descriptions,Prices,Discounts
0,ADIDAS,Easy Vulc 2.0 Sneakers For Men,"₹1,595",58% off
1,Bonexy,Sneakers For Men,₹499,50% off
2,Bonexy,Sneakers For Men,₹499,50% off
3,WHITE WALKERS,Sneakers For Men,₹499,50% off
4,Wen Hawk,Latest Stylish Casual sneakers for men | Lace ...,₹358,64% off
...,...,...,...,...
155,Kizaar,"Fashionable Casual, Canvas,official or Partywe...",₹491,50% off
156,Shoefly,Combo Men Pack of 2 Loafers Shoes Sneakers For...,₹367,63% off
157,revord,Sneakers For Men (BLACK) Sneakers For Men,₹199,60% off
158,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹379,62% off
159,REFOAM,Sneakers For Men,₹699,65% off

In [329]:
driver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [330]:
url='https://www.myntra.com/shoes'

#Install Driver
driver = webdriver.Chrome(r'C:/Users/DELL/chromedriver.exe')
driver.get(url)

In [331]:
price_check_box = driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()
time.sleep(5)
colour_check_box = driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

In [407]:
Brands = []
Product_Descriptions = []
Prices = []
start_page = 1
end_page = 3

for page in range(start_page,end_page):

    Brand = driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/h3")

    Product_Description = driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/h4[1]")

    Price = driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/div/span[1]")

    for i in Brand:
        Brands.append(i.text)
        #print(Brands)

    for i in Product_Description:
        Product_Descriptions.append(i.text)
        #print(Product_Descriptions)

    for i in Price:
        split = i.text.split('Rs. ')
        #print(split)
        split=split[1:2]
        #print(split)
        Prices.append(split)
        #print(Prices)
        
    next_btn = driver.find_element_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/div[2]/ul/li[12]")
    if next_btn.text=='Next':
            next_btn.click()
            time.sleep(5)

    product_details=pd.DataFrame({'Brands':Brands,
                         'Product Descriptions':Product_Descriptions,
                         'Prices':Prices})

In [408]:
product_details

                  Brands                    Product Descriptions   Prices
0                   Nike          AIR ZOOM PEGASUS Running Shoes  [11495]
1                   Geox             Men Leather Formal Slip-Ons  [14990]
2                   Puma                         Unisex Sneakers   [8999]
3              Cole Haan                 Men Lightweight Brogues   [7999]
4           UNDER ARMOUR          Men HOVR STRT Sportstyle Shoes   [9999]
..                   ...                                     ...      ...
95                  FILA                          Women Sneakers   [8999]
96          Vanilla Moon                  Women Solid Flat Boots   [8990]
97          Vanilla Moon                  Women Solid Flat Boots   [8990]
98          Vanilla Moon                  Women Solid Flat Boots   [8990]
99  Heel & Buckle London  Men Solid Leather Formal Penny Loafers   [8792]

[100 rows x 3 columns]

In [409]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: